/* &:has(.experience-card-body-wrapper:hover) {
  .card-description {
    display: block;
    overflow: unset;
    text-overflow: none;
    -webkit-line-clamp: none;
    -webkit-box-orient: "vertical";
    height: 100%;
  }
} */
.experience-card-body-wrapper:hover > .card-description {
  display: block;
  overflow: unset;
  text-overflow: none;
  -webkit-line-clamp: none;
  -webkit-box-orient: "vertical";
  height: 100%;
}

.skill-list-item::before {
  content: "•";
  /* display: inline-block; Ensure the bullet appears inline with the list item */
  width: 10px; /* Set width to maintain proper spacing */
  color: #f2f3f499;
}
.skill-list-ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.skill-list-item {
  margin-left: 5px !important;
  display: flex;
  position: inherit;
  align-items: center;
}
.skill-set-wrapper {
  display: flex;
  margin-top: 10px !important;
  align-items: baseline;
  width: 100%;
}
