.header-container {
  height: 76px;
  display: flex;
  align-items: center;
  padding: 15px !important;
  position: sticky;
  top: 0px;
  z-index: 99999 !important;
}
.nav-menu-wrapper {
  @media (min-width: 0px) and (max-width: 980px) {
    display: none;
  }
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-navbar-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
}
.logo-img {
  margin-left: -56px !important;
}
