.MuiTimelineItem-root::before {
  content: none !important;
}
.MuiTimelineDot-outlined {
  border-color: #1976d2 !important;
  width: 10px;
  height: 10px;
}
.MuiTimelineSeparator-root {
  margin-right: 10px !important;
}
.MuiTimelineItem-root {
  margin-bottom: 10px !important;
}
.MuiTimelineDot-root {
  margin-bottom: 10px !important;
}
