.footer-link-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 80%;
}
.footer-icon-wrapper {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin-left: 34% !important;
  align-items: center;
}
