.experience-grid-wrapper {
  background: linear-gradient(38.73deg, rgb(4, 37, 48) 0%, rgba(201, 32, 184, 0) 50%),
    linear-gradient(141.27deg, rgba(201, 32, 184, 0) 50%, rgb(4, 37, 48) 100%);
  width: 100%;
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 30% 98%, 0px 100%);
}
.experience-grid-wrapper:after {
  height: 30em !important;
}
.experience-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 56px !important;
}
.experience-description {
  margin-bottom: 30px !important;
  margin-top: 15px !important;
}
.experience-timeline-description-wrapper {
  display: flex;
}
.experience-grid-container {
  padding-bottom: 26px !important;
}
